body {
  margin: 0;
}

.wrap {
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  display: grid;
  grid-template-areas:
    "hlavicka hlavicka"
    "menu obsah"
    "paticka paticka";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 80px 1fr 300px;
}

header {
  grid-area: hlavicka;
  background-color: rgb(184, 233, 175);
}

aside {
  grid-area: menu;
  background-color: rgb(201, 123, 123);
}

main {
  grid-area: obsah;
  background-color: rgb(113, 170, 170);
}

footer {
  grid-area: paticka;
  background-color: rgb(194, 154, 194);
}

h1 {
  text-align: center;
}
